{% extends "DjangoApp/base.html" %}

{% load static %}

{% block titulo %}k0lst0m13r-p0st{% endblock %}

{% block contenido %}



<section class="features">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="section-title"> 
                    <h2>Crear Post</h2>
                </div>            
                <div class="d-flex justify-cntent-center align-items-center">    
                    <form method="POST" class="post-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </section> 
    
{% endblock %}