{% extends "DjangoApp/base.html" %}

{% load static %}

{% block titulo %}k0lst0m13r-bl0g{% endblock %}

{% block contenido %}

<section class="features">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="section-title"> 
                <h2>Comentarios</h2>
            </div>
        </div> 
                    
    
        <nav class="navbar" style="background-color: #365053;">
                <div class="container-fluid">
                    <a class="navbar-brand"><h1>BLOG</h1></a>
                      <form class="d-flex"   method="post">
                         {% csrf_token %} 
                        <input class="form-control me-2" name="buscar" placeholder="Autor" aria-label="Search">
                        <button class="btn"  style="background-color: #0094a7; color: white" type="submit">Buscar</button>
                      </form>
                </div>
            </nav>
    

        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
    
            th, td {
              text-align: left;
              padding: 8px;
            }
    
            tr:nth-child(even){background-color: #f2f2f2}
    
            th {
              background-color: #0094a7;
              color: white;
            }
        </style>


        <table>

            <thead>
                <th>Autor</th>
                <th>Comentario</th>
                <th>Fecha</th>
            </thead>

            {% for comentario in comentarios %}

            <tr>
                <td>{{comentario.nombre}}</td>
                <td>{{comentario.comentario}}</td>
                <td>{{comentario.creado}}</td>
            </tr>

            {% endfor %}
            
            
        </table>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row">
            <a href="{% url 'comentarios' %}"><button class="btn-lg" style="background-color: #0094a7; color: white" type="submit">Comentar</button></a>
        </div>
    </div>
</section>



       

    


{% endblock %}